<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Welcome to Details Page</h1>
    <table cellpadding="2" cellspacing="5" border="2">
        <tr><th>Name</th><th>Employee Id</th>
            <th>Designation</th>
            <th>Salary</th></tr>
        <tr>
            <td>{{Data.name}}</td>
            <td>{{Data.id}}</td>
            <td>{{Data.dsg}}</td>
            <td>{{Data.salary}}</td>
        </tr>
    </table>
</body>
</html>